[Unit]
Description=CoreDNS DNS server
Documentation=https://coredns.io
After=network.target

[Service]
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
User=coredns
WorkingDirectory={{COREDNS_BIN_DIR}}
#ExecStartPre=/sbin/setcap cap_net_bind_service=+ep {{ coredns_path }}/coredns
#ExecStart={{COREDNS_BIN}} -dns.port=53 -conf={{COREFILE_PATH}} -log
ExecStart={{COREDNS_BIN}} -conf={{COREFILE_PATH}}
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
